
#mem-game {
    display: flex;
    height: 500px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
#body{
  background-color:silver;
}

img{
    width: 20vh;
    height: 15vh;
    border-radius: 5%;

}  

.reihe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .mem-card {
    padding: 10px;
    cursor: pointer;
    background: #e5e5e5;
  }
  .mem-card.open { background: #fea; }
  .mem-card.right { background: #b3ffc0; }
  .mem-card.wrong { background: #ffb6b6; }